# Python & Entornos Virtuales
.venv311/
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
/dist/
/build/
Scripts/
*.spec

# Entornos de Desarrollo
.idea/
.vscode/
*.swp

# Sistema Operativo
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs y Bases de Datos Locales
*.log
*.sqlite3

# Datos
data/

# Seguridad
.env
.env.local